.home{
    background-image: url("https://pre00.deviantart.net/a5d8/th/pre/f/2013/249/1/7/library_by_vityar83-d6l7va6.jpg");
    background-attachment: fixed;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.home-content{
    line-height: 30px;
    min-height: calc(100vh - 60px);
    height: 100%;
    width: 74%;
    background: linear-gradient(#FFF7C6, #582313);
    color: #000000;
    padding: 30px;
    box-sizing: border-box; 
}

.home-title{
    font-family: 'Tangerine', cursive;
    font-size: 8vw;
    color: #66c9cf;
    margin: 20px; 
    display: flex;
    justify-content: center;
    line-height: 36px;
}

.home-pic{
    background-image: url("./home.jpg");
    background-position: center;
    height: 260px;
}

.home-first{
    font-family: 'Tangerine', cursive;
    padding: 10px;
    font-size: 35px;
    color: black;
    margin: 40px;
}

.home-subtitle{
    font-family: 'Tangerine', cursive;
    font-size: 54px;
    color: #66c9cf;
    line-height: 44px;   
    margin: 40px;
}

#why{
    margin-top: 40px;
}

.sub-underline{
    width: 50%;
    color: black;
}
.classes-block, .why-block{
    margin: 20px;
}

.classes-block{
    margin-top: 46px;    
}