.testimonials-title{
    font-family: 'Tangerine', cursive;
    font-size: 8vw;
    color: #66c9cf;
    margin: 20px;
    display: flex;
    justify-content: center;
    line-height: 36px;
    height: 250px;
    background-position: center;
    display: flex;
    align-items: flex-end;
    padding: 10px;
    background-image: url("./testimonials.jpg");
}

.message{
    border: 1px dotted black;
    padding: 5px 14px;
    border-radius: 22px;
}