.testimonials-title{
    font-family: 'Tangerine', cursive;
    font-size: 8vw;
    color: #66c9cf;
    margin: 20px;
    display: flex;
    justify-content: center;
    line-height: 36px;
    height: 250px;
    background-position: center;
    display: flex;
    align-items: flex-end;
    padding: 10px;
    background-image: url(/static/media/testimonials.4cd228e2.jpg);
}